body {
    margin: 0;
}

.result-container {
    width: 250px;
    height: 100vh;
    position: absolute;
    top: 0;
    right: 0;
    border-left: 3px solid indigo;
    text-align: center;
    color: indigo;
}

.results {
    font-family: Arimo, Arial, sans-serif;
    font-size: 18px;
    white-space: break-spaces;
}